<div class="row" style="height:300px">
    <fr-form #productImageForm="fr-form"
             [id]="'ProductImageForm'"
             [isAbsoluteError]="true"
             [formControls]="{}"
             [cssClass]="['row']">

        <fr-form-control control-textbox
                         [presenter]="'Image'"
                         [id]="'ProductImage'"
                         [showLabel]="false"
                         [label]="productResource.image"
                         [cssClass]="['col-12']"
                         [controlCssClass]="['col-12']"
                         [validators]="productImageValidators"
                         [autoComplete]="'off'">
        </fr-form-control>
    </fr-form>
</div>
