<!-- TODO - NEEDS MAKE -->
<!-- <div class="row">
    <div class="col-12">
        <fr-card #productCategoryCustomFieldEditorCard="fr-card"
                 [id]="'ProductCategoryCustomFieldEditorCard'"
                 [isCollapsible]="false"
                 [isDeletable]="false"
                 [isUpdatable]="false">

            <div class="row">
                <fr-form #productCategoryCustomFieldGroupForm="fr-form"
                         [id]="'ProductCategoryCustomFieldGroupForm'"
                         [isAbsoluteError]="true"
                         [formControls]="{}"
                         [cssClass]="['row','product-category']">

                    <fr-form-control control-switch
                                     [presenter]="'isActive'"
                                     [id]="'productCategoryCustomFieldIsActive'"
                                     [showLabel]="false"
                                     [label]="productCategoryResource.isActive"
                                     [cssClass]="['col-6', 'col-lg-4', 'mb-0', 'mb-2']"
                                     [value]="true"
                                     [controlCssClass]="['col-12']">
                    </fr-form-control>

                    <fr-form-group [groupName]="'action'"
                                   [id]="'productCategoryCustomFieldAction'"
                                   [cssClasses]="['option-btn-group', 'col-6', 'col-lg-8', 'justify-content-end', ' align-content-start', 'mb-2']">

                        <fr-form-control control-button
                                         [presenter]="'Add'"
                                         [id]="'productCategoryCustomFieldAdd'"
                                         [text]="''"
                                         [buttonColor]="'success'"
                                         [iconClass]="'ri-check-line'"
                                         [buttonType]="'button'"
                                         [cssClass]="['col-auto', 'align-self-end', 'mb-0']"
                                         (click)="onAddNewCustomFieldGroup()">
                        </fr-form-control>
                    </fr-form-group>

                    <fr-form-group [groupName]="'groupHolder'"
                                   [id]="'productCategoryCustomFieldGroupHolder'"
                                   [cssClasses]="['col-12', 'col-md-6', 'col-lg-4', 'group-holder']">

                        <fr-form-control control-dropdown
                                         [presenter]="'customFieldGroup'"
                                         [id]="'productCategoryCustomFieldGroup'"
                                         [showLabel]="true"
                                         [label]="productCategoryResource.customFieldGroup"
                                         [cssClass]="['col']"
                                         [controlCssClass]="['col-12']"
																				 [value]="customFieldGroupValue"
                                         [items]="productCategoryCustomFieldGroupItems"
                                         [validators]="productCategoryCustomFieldGroupValidators"
                                         [isEnable]="!productCategoryCustomFieldGroupLoading"
                                         [helpText]="productCategoryCustomFieldGroupHelpText">
                        </fr-form-control>

                        <fr-form-control control-button
                                         [presenter]="'customFieldGroupRefresh'"
                                         [id]="'productCategoryCustomFieldGroupRefresh'"
                                         [text]="''"
                                         [title]="applicationResource.refresh"
                                         [iconClass]="'ri-refresh-line'"
                                         [buttonColor]="'primary'"
                                         [buttonType]="'button'"
                                         [cssClass]="['col-auto', 'align-self-center', 'mb-0']"
                                         (click)="onRefreshCustomFieldGroup()">
                        </fr-form-control>
                    </fr-form-group>

                    <fr-form-control control-dropdown
                                     [presenter]="'customFieldLocation'"
                                     [id]="'productCategoryCustomFieldLocation'"
                                     [showLabel]="true"
                                     [label]="productCategoryResource.customFieldLocation"
                                     [cssClass]="['col-12', 'col-md-6', 'col-lg-4']"
                                     [controlCssClass]="['col-12']"
                                     [allowNull]="false"
                                     [items]="productCategoryCustomFieldLocationItems"
                                     [validators]="productCategoryCustomFieldLocationValidators">
                    </fr-form-control>
                </fr-form>
            </div>
        </fr-card>
    </div>

    @if(customFieldGroups.length > 0 && !productCategoryCustomFieldGroupLoading) {
    <div class="col-12">
        <fr-card #productCategoryCustomFieldCard="fr-card"
                 [id]="'ProductCategoryCustomFieldCard'"
                 [isCollapsible]="false"
                 [isDeletable]="false"
                 [isUpdatable]="false">

            @for (option of customFieldGroups; track option.id; let index = $index) {
            <fr-form [id]="'ProductCategoryCustomFieldGroupForm_' + index"
                     [isAbsoluteError]="true"
                     [formControls]="{}"
                     [cssClass]="['row']">

                <fr-form-control control-switch
                                 [presenter]="'isActive'"
                                 [id]="'productCategoryCustomFieldIsActive'"
                                 [showLabel]="false"
                                 [label]="productCategoryResource.isActive"
                                 [cssClass]="['col-6', 'col-lg-4', 'mb-0', 'mb-2']"
                                 [value]="option.isActive"
                                 [isEnable]="false"
                                 [controlCssClass]="['col-12']">
                </fr-form-control>

                <fr-form-group [groupName]="'action'"
                               [id]="'productCategoryCustomFieldAction'"
                               [cssClasses]="['option-btn-group', 'col-6', 'col-lg-8', 'justify-content-end', ' align-content-start', 'mb-2']">

                    <fr-form-control control-button
                                     [presenter]="'Remove'"
                                     [id]="'productCategoryCustomFieldRemove'"
                                     [text]="''"
                                     [buttonColor]="'danger'"
                                     [iconClass]="'ri-delete-bin-6-line'"
                                     [buttonType]="'button'"
                                     [cssClass]="['col-auto', 'align-self-end', 'mb-0']"
                                     (click)="onRemoveCustomFieldGroup(option)">
                    </fr-form-control>
                </fr-form-group>

                <fr-form-control control-textbox
                                 [presenter]="'customFieldGroup'"
                                 [id]="'productCategoryCustomFieldGroup'"
                                 [showLabel]="true"
                                 [label]="productCategoryResource.customFieldGroup"
                                 [cssClass]="['col-12', 'col-md-6', 'col-lg-4']"
                                 [value]="option.customFieldGroup | nameFromList:productCategoryCustomFieldGroupItems"
                                 [isEnable]="false"
                                 [controlCssClass]="['col-12']">
                </fr-form-control>

                <fr-form-control control-textbox
                                 [presenter]="'customFieldLocation'"
                                 [id]="'productCategoryCustomFieldLocation'"
                                 [showLabel]="true"
                                 [label]="productCategoryResource.customFieldLocation"
                                 [cssClass]="['col-12', 'col-md-6', 'col-lg-4']"
                                 [value]="option.customFieldLocation | nameFromList:productCategoryCustomFieldLocationItems"
                                 [isEnable]="false"
                                 [controlCssClass]="['col-12']">
                </fr-form-control>
            </fr-form>

            @if((customFieldGroups.length - 1) !== index) { <hr /> }
            }
        </fr-card>
    </div>
    }
</div> -->
