<div class="row pb-5">
    <div class="col-12">
        @if(customFieldLoaded){
        <fr-card #customFieldGroupCard="fr-card"
                 [id]="'CustomFieldGroupCard'"
                 [isCollapsible]="false"
                 [isDeletable]="false"
                 [isUpdatable]="false">

            <custom-field-group [id]="'CustomFieldGroupForm'"></custom-field-group>
        </fr-card>
        }
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                @if(customFieldLoaded){
                <fr-card #customFieldOptionSelectedCard="fr-card"
                         [id]="'CustomFieldOptionSelectedCard'"
                         [cssClass]="['full-height', 'custom-field-options']"
                         [isCollapsible]="false"
                         [isDeletable]="false"
                         [isUpdatable]="false">

                    @for (option of options; track option.name; let index = $index) {
                    <button frButton
                            [type]="'button'"
                            [color]="'primary'"
                            [cssClass]="['mb-0', 'col-12']"
                            (click)="onOptionSelect(option)">
                        {{ option.name }} ({{ option.dataTypeName }})
                    </button>
                    }
                </fr-card>
                }
            </div>

            <div class="col-12 col-md-6 col-lg-8">
                @if(customFieldLoaded){
                <fr-card #customFieldOptionCard="fr-card"
                         [id]="'CustomFieldOptionCard'"
                         [isCollapsible]="false"
                         [isDeletable]="false"
                         [isUpdatable]="false">

                    <custom-field-option [id]="'CustomFieldOptionForm'"></custom-field-option>
                </fr-card>
                }
            </div>
        </div>
    </div>
</div>

@if(operation === 'Update'){
<custom-field-delete-modal [id]="deleteModalId"></custom-field-delete-modal>
}
