<div class="row">
    <fr-form #productCategoryBasicForm="fr-form"
             [id]="'ProductCategoryBasicForm'"
             [isAbsoluteError]="true"
             [formControls]="{}"
             [cssClass]="['row']">

        <fr-form-control control-textbox
                         [presenter]="'Name'"
                         [id]="'ProductCategoryName'"
                         [showLabel]="true"
                         [label]="productCategoryResource.name"
                         [cssClass]="['col-12', 'col-md-6', 'col-lg-4']"
                         [controlCssClass]="['col-12']"
                         [validators]="productCategoryNameValidators">
        </fr-form-control>

        <fr-form-control control-dropdown
                         [presenter]="'ParentId'"
                         [id]="'ProductCategoryParentId'"
                         [showLabel]="true"
                         [label]="productCategoryResource.parent"
                         [cssClass]="['col-12', 'col-md-6', 'col-lg-4']"
                         [controlCssClass]="['col-12']"
                         [allowNull]="true"
                         [emptyTitle]="productCategoryResource.noParent"
                         [items]="productCategoryParentItems"
                         [isEnable]="!productCategoryParentLoading"
                         [validators]="productCategoryParentValidators">
        </fr-form-control>

        <fr-form-control control-editor
                         [presenter]="'Description'"
                         [id]="'ProductCategoryDescription'"
                         [showLabel]="true"
                         [label]="productCategoryResource.description"
                         [cssClass]="['col-12']"
                         [controlCssClass]="['col-12']"
                         [validators]="productCategoryDescriptionValidators"
                         [autoComplete]="'off'"
                         [placeHolder]="productCategoryResource.description"
                         [toolbarOptions]="productCategoryDescriptionToolbarOptions">
        </fr-form-control>

    </fr-form>
</div>
